[core]
	editor = \"C:\\Users\\tomonori\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
	quotepath = false
[gui]
	encoding = utf-8
	recentrepo = C:/Users/tomonori/Desktop/test_git
	recentrepo = C:/Users/tomonori/Desktop/test
[user]
	name = tomonori sakagami
	email = sakagami0615@gmail.com
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[credential]
	helper = "!f() { /home/jovyan/.vscode-server/bin/a0479759d6e9ea56afa657e454193f72aef85bd0/node /tmp/vscode-remote-containers-68ca8bdd2ef91b48399d51238bbbc9524749df82.js $*; }; f"
